.path__point--cat {
    fill: #000;
    stroke: #000;
    color: #000;
}

.path__point--cat0 {
    fill: #e6194b;
    stroke: #e6194b;
    color: #e6194b;
}

.path__point--cat1 {
    fill: #3cb44b;
    stroke: #3cb44b;
    color: #3cb44b;
}

.path__point--cat2 {
    fill: #ffe119;
    stroke: #ffe119;
    color: #ffe119;
}

.path__point--cat3 {
    fill: #0082c8;
    stroke: #0082c8;
    color: #0082c8;
}

.path__point--cat4 {
    fill: #f58231;
    stroke: #f58231;
    color: #f58231;
}

.path__point--cat5 {
    fill: #911eb4;
    stroke: #911eb4;
    color: #911eb4;
}

.path__point--cat6 {
    fill: #46f0f0;
    stroke: #46f0f0;
    color: #46f0f0;
}

.path__point--cat7 {
    fill: #f032e6;
    stroke: #f032e6;
    color: #f032e6;
}

.path__point--cat8 {
    fill: #d2f53c;
    stroke: #d2f53c;
    color: #d2f53c;
}

.path__point--cat9 {
    fill: #fabebe;
    stroke: #fabebe;
    color: #fabebe;
}

.path__point--cat10 {
    fill: #008080;
    stroke: #008080;
    color: #008080;
}

.path__point--cat11 {
    fill: #e6beff;
    stroke: #e6beff;
    color: #e6beff;
}

.path__point--cat12 {
    fill: #aa6e28;
    stroke: #aa6e28;
    color: #aa6e28;
}

.path__point--cat13 {
    fill: #fffac8;
    stroke: #fffac8;
    color: #fffac8;
}

.path__point--cat14 {
    fill: #800000;
    stroke: #800000;
    color: #800000;
}

.path__point--cat15 {
    fill: #aaffc3;
    stroke: #aaffc3;
    color: #aaffc3;
}

.path__point--cat16 {
    fill: #808000;
    stroke: #808000;
    color: #808000;
}

.path__point--cat17 {
    fill: #ffd8b1;
    stroke: #ffd8b1;
    color: #ffd8b1;
}

.path__point--cat18 {
    fill: #000080;
    stroke: #000080;
    color: #000080;
}

.path__point--cat19 {
    fill: #808080;
    stroke: #808080;
    color: #808080;
}



.path__point--inactive {
    fill: #ddd;
    stroke: #ddd;
}