.path__point--cat0 {
    fill: #e23e57;
    stroke: #e23e57;
    color: #e23e57;
}

.path__point--cat1 {
    fill: #f9ed69;
    stroke: #f9ed69;
    color: #f9ed69;
}

.path__point--cat2 {
    fill: #f8f3d4;
    stroke: #f8f3d4;
    color: #f8f3d4;
}

.path__point--cat3 {
    fill: #9bdd10;
    stroke: #9bdd10;
    color: #9bdd10;
}

.path__point--cat4 {
    fill: #eeeeee;
    stroke: #eeeeee;
    color: #eeeeee;
}

.path__point--cat5 {
    fill: #fecea8;
    stroke: #fecea8;
    color: #fecea8;
}

.path__point--cat6 {
    fill: #dcedc2;
    stroke: #dcedc2;
    color: #dcedc2;
}

.path__point--cat7 {
    fill: #7e80ff;
    stroke: #7e80ff;
    color: #7e80ff;
}

.path__point--cat8 {
    fill: #de95ba;
    stroke: #de95ba;
    color: #de95ba;
}





.path__point--inactive {
    fill: #555;
    stroke: #555;
}