body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #eee;
    background: #333;
}

#container {
    width: 500px;
    margin: 60px auto;
}

svg {
    display: block;
    border: 1px solid #999999;
}

.path {
    stroke: #555555;
    stroke-width: 0.5;
    fill: none;
}
.path--alt { stroke: #666666 }
.path--blue { stroke: #00b8a9 }
.path--red { stroke: #e23e57 }
.path--yellow { stroke: #ff9a00 }
.path--point {
    cursor: pointer;
    fill: #00b8a9;
    stroke: #00b8a9;
}
.path--point:hover {
    fill: #ff9a00;
    stroke: #ff9a00;
    stroke-width: 6;
}

.hide {
    display: none;
}

#tooltip {
    margin-top: 20px;
}
.row .col {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.8rem;
}
.row .col:nth-child( 1 ) { width: 30%; }
.row .col:nth-child( 2 ) { width: 60%; }
.row .col.col--right {
    text-align: right;
    font-weight: bold;
}
.row .col p {
    margin: 0;
}