/*** GUGGLE FONTS ***/
@import url( "https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:400,700" );


/*** RESET ***/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #034752;
    background: #f5f5f5;
    overflow: hidden;
}

p {
    line-height: 1.5;
}


/*** COMMON ***/
.container {
    max-width: 50em;
    margin: 0 auto;
}

.header {
    padding-top: 60px;
}
.header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    margin: 0;
}
.header h2.subtitle {
    font-weight: normal;
    font-size: 1.2rem;
}
.header p {
}

.viz {
    padding: 80px 0;
}

.section { margin-top: 30px; position: relative; display: none }
.section.active { display: block }
.subsection { padding: 30px 0 }

.btn {
    color: #fff;
    background: #034752;
    display: inline-block;
    margin-right: 10px;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
}
.btn:hover { background: #333333 }
.btn__back {
    color: #555;
    background: #dbdbdb;
}
.btn__back:hover { background: #ebebeb }
.btn img { margin-right: 10px }


/*** UTIL ***/
.successful { color: #82c341; color: #3cb44b }
.failed { color: #e34b48; color: #e51b4c }
.hide { display: none }


/*** SCREEN 02 ***/
.bar__title, .bars, .bar { display: inline-block; vertical-align: middle }
.bar__title-detail { display: none }
.bar__title { width: 30%; padding-left: 10px }
.bars { width: 65% }
.bar__selector { width: 5%; text-align: right; display: none; padding-right: 3px }
.bar { height: 10px; margin: 10px 0 }
.bar--successful { background: #82c341; background: #3cb44b }
.bar--failed { background: #e34b48; background: #e51b4c }
.bar__group { border-radius: 3px; cursor: pointer }
.bar__group:hover { background: #ebebeb }
.bar__group:hover .bar__title { font-weight: bold }
.bar__group:hover .bar__title-detail { display: inline }
.bar__group:hover .bar__selector { display: inline-block }


/*** SCREEN 03 ***/
/*** TODO ***/


/*** SCREEN 04 ***/
.path {
    stroke: #666;
    stroke-width: 0.5;
    fill: none;
}
.path--alt { stroke: #034752 }
.path--dashed { stroke-dasharray: 3; }
.path--filled { fill: #f5f5f5 }
.path__point {
    fill: #00b8a9;
    stroke: #00b8a9;
    transition: all 0.3s;
}
.path__point:not( .path__point--inactive ) { cursor: pointer }
.path__point:not( .path__point--inactive ):hover { stroke-width: 7 }
.path__point--hidden { display: none }

#sidebar, #sidebar__cta {
    background: #fdfcf6;
    border: 1px solid #dbdbdb;
    border-right: 0;
}
#sidebar {
    width: 320px;
    padding: 20px;
    position: absolute;
    right: -320px;
    top: 60px;
    transition: right 0.3s;
}
#sidebar > div { padding-bottom: 20px }
#sidebar > div > p { color: #aaa; text-transform: uppercase; font-size: 0.8rem }
#sidebar__cta {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -1px;
    left: -70px;
}
#sidebar__cta a {
    display: block;
    height: inherit;
    text-align: center;
    line-height: 75px;
}

ul#filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#filters li {
    padding: 5px 0;
}

#tooltip {
    color: #eee;
    background: rgba( 0, 0, 0, 0.75 );
    position: absolute;
    width: 450px;
    padding: 20px;
    z-index: 3
}
#tooltip .row > .col p { margin: 0 }
#tooltip .row > .col { display: inline-block; vertical-align: top }
#tooltip .row > .col:first-child { width: 30% }
#tooltip .row > .col:last-child { width: 70%; padding-left: 7px }
#tooltip .row > .col.col--right { text-align: right; font-weight: bold }